Dsl/GeneratedCode/DCMLRACPGProyectoIPSSchema.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema id="DCMLRACPGProyectoIPSSchema" targetNamespace="http://schemas.microsoft.com/dsltools/DCMLRACPGProyectoIPS" elementFormDefault="qualified" xmlns="http://schemas.microsoft.com/dsltools/DCMLRACPGProyectoIPS" xmlns:core="http://schemas.microsoft.com/VisualStudio/2008/DslTools/Core" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:import id="CoreSchema" namespace="http://schemas.microsoft.com/VisualStudio/2008/DslTools/Core" />
  <!-- TapizModelo -->
  <xsd:element name="tapizModelo" type="TapizModelo" substitutionGroup="core:modelElement" />
  <xsd:complexType name="TapizModelo">
    <xsd:annotation>
      <xsd:documentation>The root in which all other elements are embedded. Appears as a diagram.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="core:ModelElement">
        <xsd:sequence minOccurs="0" maxOccurs="1">
          <!-- Relationship: Tiene -->
          <xsd:element name="clase" minOccurs="0" maxOccurs="1">
            <xsd:annotation>
              <xsd:documentation>Instances of Tiene</xsd:documentation>
            </xsd:annotation>
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element ref="tiene" minOccurs="0" maxOccurs="unbounded">
                  <xsd:annotation>
                    <xsd:documentation>[Instance of Tiene needs to be serialized in full-form]</xsd:documentation>
                  </xsd:annotation>
                </xsd:element>
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
        </xsd:sequence>
        <!-- Id -->
        <xsd:attribute name="Id" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Instance Guid of this element, needed because SerializeId is set to true.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <!-- dslVersion -->
        <xsd:attribute name="dslVersion" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Version of the model serialized in this file.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- TapizModelo Moniker -->
  <xsd:element name="tapizModeloMoniker" type="TapizModeloMoniker" substitutionGroup="core:modelElementMoniker" />
  <xsd:complexType name="TapizModeloMoniker">
    <xsd:annotation>
      <xsd:documentation>Moniker for TapizModelo instance.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="core:ModelElementMoniker">
        <xsd:attribute name="Id" type="xsd:string" >
          <xsd:annotation>
            <xsd:documentation>Attribute to store the moniker string.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- Clase -->
  <xsd:element name="clase" type="Clase" substitutionGroup="claseEnriquecida" />
  <xsd:complexType name="Clase">
    <xsd:complexContent>
      <xsd:extension base="ClaseEnriquecida">
        <xsd:sequence minOccurs="0" maxOccurs="1">
          <!-- Relationship: ClaseHasAtributo -->
          <xsd:element name="atributo" minOccurs="0" maxOccurs="1">
            <xsd:annotation>
              <xsd:documentation>Instances of ClaseHasAtributo</xsd:documentation>
            </xsd:annotation>
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element ref="claseHasAtributo" minOccurs="0" maxOccurs="unbounded">
                  <xsd:annotation>
                    <xsd:documentation>[Instance of ClaseHasAtributo needs to be serialized in full-form]</xsd:documentation>
                  </xsd:annotation>
                </xsd:element>
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
          <!-- Relationship: ClaseHasSignaturadeOperación -->
          <xsd:element name="signaturadeOperación" minOccurs="0" maxOccurs="1">
            <xsd:annotation>
              <xsd:documentation>Instances of ClaseHasSignaturadeOperación</xsd:documentation>
            </xsd:annotation>
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element ref="claseHasSignaturadeOperación" minOccurs="0" maxOccurs="unbounded">
                  <xsd:annotation>
                    <xsd:documentation>[Instance of ClaseHasSignaturadeOperación needs to be serialized in full-form]</xsd:documentation>
                  </xsd:annotation>
                </xsd:element>
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
          <!-- Relationship: Asociación -->
          <xsd:element name="targetClase" minOccurs="0" maxOccurs="1">
            <xsd:annotation>
              <xsd:documentation>Instances of Asociación</xsd:documentation>
            </xsd:annotation>
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element ref="asociación" minOccurs="0" maxOccurs="unbounded">
                  <xsd:annotation>
                    <xsd:documentation>[Instance of Asociación needs to be serialized in full-form]</xsd:documentation>
                  </xsd:annotation>
                </xsd:element>
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
          <!-- Relationship: Agregación -->
          <xsd:element name="conpuesta" minOccurs="0" maxOccurs="1">
            <xsd:annotation>
              <xsd:documentation>Instances of Agregación</xsd:documentation>
            </xsd:annotation>
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element ref="agregación" minOccurs="0" maxOccurs="unbounded">
                  <xsd:annotation>
                    <xsd:documentation>[Instance of Agregación needs to be serialized in full-form]</xsd:documentation>
                  </xsd:annotation>
                </xsd:element>
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
        </xsd:sequence>
        <!-- Id -->
        <xsd:attribute name="Id" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Instance Guid of this element, needed because SerializeId is set to true.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <!-- Property: Name -->
        <xsd:attribute name="name" type="xsd:string" use="required" />
        <!-- Property: ID -->
        <xsd:attribute name="iD" type="xsd:string" />
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- Clase Moniker -->
  <xsd:element name="claseMoniker" type="ClaseMoniker" substitutionGroup="claseEnriquecidaMoniker" />
  <xsd:complexType name="ClaseMoniker">
    <xsd:annotation>
      <xsd:documentation>Moniker for Clase instance.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="ClaseEnriquecidaMoniker">
        <xsd:attribute name="name" type="xsd:string" >
          <xsd:annotation>
            <xsd:documentation>Attribute to store the moniker string.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- Atributo -->
  <xsd:element name="atributo" type="Atributo" substitutionGroup="atributoEnriquecido" />
  <xsd:complexType name="Atributo">
    <xsd:complexContent>
      <xsd:extension base="AtributoEnriquecido">
        <!-- Id -->
        <xsd:attribute name="Id" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Instance Guid of this element, needed because SerializeId is set to true.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <!-- Property: Name -->
        <xsd:attribute name="name" type="xsd:string" use="required" />
        <!-- Property: TipoDatos -->
        <xsd:attribute name="tipoDatos" type="xsd:string" />
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- Atributo Moniker -->
  <xsd:element name="atributoMoniker" type="AtributoMoniker" substitutionGroup="atributoEnriquecidoMoniker" />
  <xsd:complexType name="AtributoMoniker">
    <xsd:annotation>
      <xsd:documentation>Moniker for Atributo instance.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="AtributoEnriquecidoMoniker">
        <xsd:attribute name="name" type="xsd:string" >
          <xsd:annotation>
            <xsd:documentation>Attribute to store the moniker string.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- SignaturadeOperación -->
  <xsd:element name="signaturadeOperación" type="SignaturadeOperación" substitutionGroup="metodoEnriquecido" />
  <xsd:complexType name="SignaturadeOperación">
    <xsd:complexContent>
      <xsd:extension base="MetodoEnriquecido">
        <xsd:sequence minOccurs="0" maxOccurs="1">
          <!-- Relationship: SignaturadeOperaciónHasParámetros -->
          <xsd:element name="parámetros" minOccurs="0" maxOccurs="1">
            <xsd:annotation>
              <xsd:documentation>Instances of SignaturadeOperaciónHasParámetros</xsd:documentation>
            </xsd:annotation>
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element ref="signaturadeOperaciónHasParámetros" minOccurs="0" maxOccurs="unbounded">
                  <xsd:annotation>
                    <xsd:documentation>[Instance of SignaturadeOperaciónHasParámetros needs to be serialized in full-form]</xsd:documentation>
                  </xsd:annotation>
                </xsd:element>
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
        </xsd:sequence>
        <!-- Id -->
        <xsd:attribute name="Id" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Instance Guid of this element, needed because SerializeId is set to true.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <!-- Property: Name -->
        <xsd:attribute name="name" type="xsd:string" use="required" />
        <!-- Property: TipoRetorno -->
        <xsd:attribute name="tipoRetorno" type="xsd:string" />
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- SignaturadeOperación Moniker -->
  <xsd:element name="signaturadeOperaciónMoniker" type="SignaturadeOperaciónMoniker" substitutionGroup="metodoEnriquecidoMoniker" />
  <xsd:complexType name="SignaturadeOperaciónMoniker">
    <xsd:annotation>
      <xsd:documentation>Moniker for SignaturadeOperación instance.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="MetodoEnriquecidoMoniker">
        <xsd:attribute name="name" type="xsd:string" >
          <xsd:annotation>
            <xsd:documentation>Attribute to store the moniker string.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- Parámetros -->
  <xsd:element name="parámetros" type="Parámetros" substitutionGroup="core:modelElement" />
  <xsd:complexType name="Parámetros">
    <xsd:complexContent>
      <xsd:extension base="core:ModelElement">
        <!-- Id -->
        <xsd:attribute name="Id" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Instance Guid of this element, needed because SerializeId is set to true.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <!-- Property: Nombre -->
        <xsd:attribute name="nombre" type="xsd:string" use="required" />
        <!-- Property: TipoDato -->
        <xsd:attribute name="tipoDato" type="xsd:string" />
        <!-- Property: TipoParámetro -->
        <xsd:attribute name="tipoParámetro" type="TipoParametro" />
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- Parámetros Moniker -->
  <xsd:element name="parámetrosMoniker" type="ParámetrosMoniker" substitutionGroup="core:modelElementMoniker" />
  <xsd:complexType name="ParámetrosMoniker">
    <xsd:annotation>
      <xsd:documentation>Moniker for Parámetros instance.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="core:ModelElementMoniker">
        <xsd:attribute name="nombre" type="xsd:string" >
          <xsd:annotation>
            <xsd:documentation>Attribute to store the moniker string.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- ClaseAbstracta -->
  <xsd:element name="claseAbstracta" type="ClaseAbstracta" substitutionGroup="clase" />
  <xsd:complexType name="ClaseAbstracta">
    <xsd:complexContent>
      <xsd:extension base="Clase">
        <!-- Id -->
        <xsd:attribute name="Id" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Instance Guid of this element, needed because SerializeId is set to true.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- ClaseAbstracta Moniker -->
  <xsd:element name="claseAbstractaMoniker" type="ClaseAbstractaMoniker" substitutionGroup="claseMoniker" />
  <xsd:complexType name="ClaseAbstractaMoniker">
    <xsd:annotation>
      <xsd:documentation>Moniker for ClaseAbstracta instance.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="ClaseMoniker">
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- MétodoAbstracto -->
  <xsd:element name="métodoAbstracto" type="MétodoAbstracto" substitutionGroup="signaturadeOperación" />
  <xsd:complexType name="MétodoAbstracto">
    <xsd:complexContent>
      <xsd:extension base="SignaturadeOperación">
        <xsd:sequence minOccurs="0" maxOccurs="1">
          <!-- Relationship: ClaseAbstractaTieneMetodoAbstracto -->
          <xsd:element name="claseAbstracta" minOccurs="1" maxOccurs="1">
            <xsd:annotation>
              <xsd:documentation>Instance of ClaseAbstractaTieneMetodoAbstracto</xsd:documentation>
            </xsd:annotation>
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element ref="claseAbstractaTieneMetodoAbstracto" minOccurs="1" maxOccurs="1">
                  <xsd:annotation>
                    <xsd:documentation>[Instance of ClaseAbstractaTieneMetodoAbstracto needs to be serialized in full-form]</xsd:documentation>
                  </xsd:annotation>
                </xsd:element>
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
        </xsd:sequence>
        <!-- Id -->
        <xsd:attribute name="Id" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Instance Guid of this element, needed because SerializeId is set to true.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- MétodoAbstracto Moniker -->
  <xsd:element name="métodoAbstractoMoniker" type="MétodoAbstractoMoniker" substitutionGroup="signaturadeOperaciónMoniker" />
  <xsd:complexType name="MétodoAbstractoMoniker">
    <xsd:annotation>
      <xsd:documentation>Moniker for MétodoAbstracto instance.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="SignaturadeOperaciónMoniker">
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- ClaseEnriquecida -->
  <xsd:element name="claseEnriquecida" abstract="true" type="ClaseEnriquecida" substitutionGroup="core:modelElement" />
  <xsd:complexType name="ClaseEnriquecida" abstract="true" >
    <xsd:complexContent>
      <xsd:extension base="core:ModelElement">
        <!-- Id -->
        <xsd:attribute name="Id" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Instance Guid of this element, needed because SerializeId is set to true.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <!-- Property: Enriquecida -->
        <xsd:attribute name="enriquecida" type="xsd:boolean" />
        <!-- Property: FondoColorR -->
        <xsd:attribute name="fondoColorR" type="xsd:string" />
        <!-- Property: FondoColorG -->
        <xsd:attribute name="fondoColorG" type="xsd:string" />
        <!-- Property: FondoColorB -->
        <xsd:attribute name="fondoColorB" type="xsd:string" />
        <!-- Property: NombreColorR -->
        <xsd:attribute name="nombreColorR" type="xsd:string" />
        <!-- Property: NombreColorG -->
        <xsd:attribute name="nombreColorG" type="xsd:string" />
        <!-- Property: TipoLetra -->
        <xsd:attribute name="tipoLetra" type="TipoLetra" />
        <!-- Property: Alineacion -->
        <xsd:attribute name="alineacion" type="xsd:string" />
        <!-- Property: NombreColorB -->
        <xsd:attribute name="nombreColorB" type="xsd:string" />
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- ClaseEnriquecida Moniker -->
  <xsd:element name="claseEnriquecidaMoniker" abstract="true" type="ClaseEnriquecidaMoniker" substitutionGroup="core:modelElementMoniker" />
  <xsd:complexType name="ClaseEnriquecidaMoniker">
    <xsd:annotation>
      <xsd:documentation>Moniker for ClaseEnriquecida instance.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="core:ModelElementMoniker">
        <xsd:attribute name="Id" type="xsd:string" >
          <xsd:annotation>
            <xsd:documentation>Attribute to store the moniker string.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- AtributoEnriquecido -->
  <xsd:element name="atributoEnriquecido" abstract="true" type="AtributoEnriquecido" substitutionGroup="core:modelElement" />
  <xsd:complexType name="AtributoEnriquecido" abstract="true" >
    <xsd:complexContent>
      <xsd:extension base="core:ModelElement">
        <!-- Id -->
        <xsd:attribute name="Id" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Instance Guid of this element, needed because SerializeId is set to true.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <!-- Property: ColorLetraR -->
        <xsd:attribute name="colorLetraR" type="xsd:string" />
        <!-- Property: ColorLetraG -->
        <xsd:attribute name="colorLetraG" type="xsd:string" />
        <!-- Property: ColorLetraB -->
        <xsd:attribute name="colorLetraB" type="xsd:string" />
        <!-- Property: TipoLetra -->
        <xsd:attribute name="tipoLetra" type="TipoLetra" />
        <!-- Property: FormatoBooleano -->
        <xsd:attribute name="formatoBooleano" type="FormatoBoolean" />
        <!-- Property: Enriquecido -->
        <xsd:attribute name="enriquecido" type="xsd:boolean" />
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- AtributoEnriquecido Moniker -->
  <xsd:element name="atributoEnriquecidoMoniker" abstract="true" type="AtributoEnriquecidoMoniker" substitutionGroup="core:modelElementMoniker" />
  <xsd:complexType name="AtributoEnriquecidoMoniker">
    <xsd:annotation>
      <xsd:documentation>Moniker for AtributoEnriquecido instance.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="core:ModelElementMoniker">
        <xsd:attribute name="Id" type="xsd:string" >
          <xsd:annotation>
            <xsd:documentation>Attribute to store the moniker string.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- MetodoEnriquecido -->
  <xsd:element name="metodoEnriquecido" abstract="true" type="MetodoEnriquecido" substitutionGroup="core:modelElement" />
  <xsd:complexType name="MetodoEnriquecido" abstract="true" >
    <xsd:complexContent>
      <xsd:extension base="core:ModelElement">
        <!-- Id -->
        <xsd:attribute name="Id" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Instance Guid of this element, needed because SerializeId is set to true.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <!-- Property: TipoLetra -->
        <xsd:attribute name="tipoLetra" type="TipoLetra" />
        <!-- Property: ColorLetraR -->
        <xsd:attribute name="colorLetraR" type="xsd:string" />
        <!-- Property: ColorLetraG -->
        <xsd:attribute name="colorLetraG" type="xsd:string" />
        <!-- Property: ColorLetraB -->
        <xsd:attribute name="colorLetraB" type="xsd:string" />
        <!-- Property: Enriquecido -->
        <xsd:attribute name="enriquecido" type="xsd:boolean" />
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- MetodoEnriquecido Moniker -->
  <xsd:element name="metodoEnriquecidoMoniker" abstract="true" type="MetodoEnriquecidoMoniker" substitutionGroup="core:modelElementMoniker" />
  <xsd:complexType name="MetodoEnriquecidoMoniker">
    <xsd:annotation>
      <xsd:documentation>Moniker for MetodoEnriquecido instance.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="core:ModelElementMoniker">
        <xsd:attribute name="Id" type="xsd:string" >
          <xsd:annotation>
            <xsd:documentation>Attribute to store the moniker string.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- Tiene -->
  <xsd:element name="tiene" type="Tiene" substitutionGroup="core:modelElement" />
  <xsd:complexType name="Tiene">
    <xsd:complexContent>
      <xsd:extension base="core:ModelElement">
        <xsd:sequence minOccurs="0" maxOccurs="1">
          <!-- Target end Clase -->
          <xsd:element ref="clase" minOccurs="1" maxOccurs="1">
            <xsd:annotation>
              <xsd:documentation>[Target role-player]</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
        <!-- Id -->
        <xsd:attribute name="Id" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Instance Guid of this element, needed because SerializeId is set to true.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- Tiene Moniker -->
  <xsd:element name="tieneMoniker" type="TieneMoniker" substitutionGroup="core:modelElementMoniker" />
  <xsd:complexType name="TieneMoniker">
    <xsd:annotation>
      <xsd:documentation>Moniker for Tiene instance.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="core:ModelElementMoniker">
        <xsd:attribute name="Id" type="xsd:string" >
          <xsd:annotation>
            <xsd:documentation>Attribute to store the moniker string.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- ClaseHasAtributo -->
  <xsd:element name="claseHasAtributo" type="ClaseHasAtributo" substitutionGroup="core:modelElement" />
  <xsd:complexType name="ClaseHasAtributo">
    <xsd:complexContent>
      <xsd:extension base="core:ModelElement">
        <xsd:sequence minOccurs="0" maxOccurs="1">
          <!-- Target end Atributo -->
          <xsd:element ref="atributo" minOccurs="1" maxOccurs="1">
            <xsd:annotation>
              <xsd:documentation>[Target role-player]</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
        <!-- Id -->
        <xsd:attribute name="Id" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Instance Guid of this element, needed because SerializeId is set to true.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- ClaseHasAtributo Moniker -->
  <xsd:element name="claseHasAtributoMoniker" type="ClaseHasAtributoMoniker" substitutionGroup="core:modelElementMoniker" />
  <xsd:complexType name="ClaseHasAtributoMoniker">
    <xsd:annotation>
      <xsd:documentation>Moniker for ClaseHasAtributo instance.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="core:ModelElementMoniker">
        <xsd:attribute name="Id" type="xsd:string" >
          <xsd:annotation>
            <xsd:documentation>Attribute to store the moniker string.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- ClaseHasSignaturadeOperación -->
  <xsd:element name="claseHasSignaturadeOperación" type="ClaseHasSignaturadeOperación" substitutionGroup="core:modelElement" />
  <xsd:complexType name="ClaseHasSignaturadeOperación">
    <xsd:complexContent>
      <xsd:extension base="core:ModelElement">
        <xsd:sequence minOccurs="0" maxOccurs="1">
          <!-- Target end SignaturadeOperación -->
          <xsd:element ref="signaturadeOperación" minOccurs="1" maxOccurs="1">
            <xsd:annotation>
              <xsd:documentation>[Target role-player]</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
        <!-- Id -->
        <xsd:attribute name="Id" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Instance Guid of this element, needed because SerializeId is set to true.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- ClaseHasSignaturadeOperación Moniker -->
  <xsd:element name="claseHasSignaturadeOperaciónMoniker" type="ClaseHasSignaturadeOperaciónMoniker" substitutionGroup="core:modelElementMoniker" />
  <xsd:complexType name="ClaseHasSignaturadeOperaciónMoniker">
    <xsd:annotation>
      <xsd:documentation>Moniker for ClaseHasSignaturadeOperación instance.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="core:ModelElementMoniker">
        <xsd:attribute name="Id" type="xsd:string" >
          <xsd:annotation>
            <xsd:documentation>Attribute to store the moniker string.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- SignaturadeOperaciónHasParámetros -->
  <xsd:element name="signaturadeOperaciónHasParámetros" type="SignaturadeOperaciónHasParámetros" substitutionGroup="core:modelElement" />
  <xsd:complexType name="SignaturadeOperaciónHasParámetros">
    <xsd:complexContent>
      <xsd:extension base="core:ModelElement">
        <xsd:sequence minOccurs="0" maxOccurs="1">
          <!-- Target end Parámetros -->
          <xsd:element ref="parámetros" minOccurs="1" maxOccurs="1">
            <xsd:annotation>
              <xsd:documentation>[Target role-player]</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
        <!-- Id -->
        <xsd:attribute name="Id" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Instance Guid of this element, needed because SerializeId is set to true.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- SignaturadeOperaciónHasParámetros Moniker -->
  <xsd:element name="signaturadeOperaciónHasParámetrosMoniker" type="SignaturadeOperaciónHasParámetrosMoniker" substitutionGroup="core:modelElementMoniker" />
  <xsd:complexType name="SignaturadeOperaciónHasParámetrosMoniker">
    <xsd:annotation>
      <xsd:documentation>Moniker for SignaturadeOperaciónHasParámetros instance.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="core:ModelElementMoniker">
        <xsd:attribute name="Id" type="xsd:string" >
          <xsd:annotation>
            <xsd:documentation>Attribute to store the moniker string.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- Asociación -->
  <xsd:element name="asociación" type="Asociación" substitutionGroup="core:modelElement" />
  <xsd:complexType name="Asociación">
    <xsd:complexContent>
      <xsd:extension base="core:ModelElement">
        <xsd:sequence minOccurs="0" maxOccurs="1">
          <!-- Target end Clase -->
          <xsd:element ref="claseMoniker" minOccurs="1" maxOccurs="1">
            <xsd:annotation>
              <xsd:documentation>[Target role-player]</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
        <!-- Id -->
        <xsd:attribute name="Id" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Instance Guid of this element, needed because SerializeId is set to true.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <!-- Property: Nombre -->
        <xsd:attribute name="nombre" type="xsd:string" />
        <!-- Property: CardinalidadMinimaSource -->
        <xsd:attribute name="cardinalidadMinimaSource" type="Cardinalidad" />
        <!-- Property: CardinalidadMinimaTarget -->
        <xsd:attribute name="cardinalidadMinimaTarget" type="Cardinalidad" />
        <!-- Property: CardinalidadMaximaSource -->
        <xsd:attribute name="cardinalidadMaximaSource" type="Cardinalidad" />
        <!-- Property: CardinalidadMaximaTarget -->
        <xsd:attribute name="cardinalidadMaximaTarget" type="Cardinalidad" />
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- Asociación Moniker -->
  <xsd:element name="asociaciónMoniker" type="AsociaciónMoniker" substitutionGroup="core:modelElementMoniker" />
  <xsd:complexType name="AsociaciónMoniker">
    <xsd:annotation>
      <xsd:documentation>Moniker for Asociación instance.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="core:ModelElementMoniker">
        <xsd:attribute name="Id" type="xsd:string" >
          <xsd:annotation>
            <xsd:documentation>Attribute to store the moniker string.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- Agregación -->
  <xsd:element name="agregación" type="Agregación" substitutionGroup="core:modelElement" />
  <xsd:complexType name="Agregación">
    <xsd:complexContent>
      <xsd:extension base="core:ModelElement">
        <xsd:sequence minOccurs="0" maxOccurs="1">
          <!-- Target end Clase -->
          <xsd:element ref="claseMoniker" minOccurs="1" maxOccurs="1">
            <xsd:annotation>
              <xsd:documentation>[Target role-player]</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
        <!-- Id -->
        <xsd:attribute name="Id" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Instance Guid of this element, needed because SerializeId is set to true.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <!-- Property: Nombre -->
        <xsd:attribute name="nombre" type="xsd:string" />
        <!-- Property: CardinalidadMinimaComponente -->
        <xsd:attribute name="cardinalidadMinimaComponente" type="Cardinalidad" />
        <!-- Property: CardinalidadMinimaCompuesta -->
        <xsd:attribute name="cardinalidadMinimaCompuesta" type="Cardinalidad" />
        <!-- Property: CardinalidadMaximaComponente -->
        <xsd:attribute name="cardinalidadMaximaComponente" type="Cardinalidad" />
        <!-- Property: CardinalidadMaximaCompuesta -->
        <xsd:attribute name="cardinalidadMaximaCompuesta" type="Cardinalidad" />
        <!-- Property: Tipo -->
        <xsd:attribute name="tipo" type="xsd:string" />
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- Agregación Moniker -->
  <xsd:element name="agregaciónMoniker" type="AgregaciónMoniker" substitutionGroup="core:modelElementMoniker" />
  <xsd:complexType name="AgregaciónMoniker">
    <xsd:annotation>
      <xsd:documentation>Moniker for Agregación instance.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="core:ModelElementMoniker">
        <xsd:attribute name="Id" type="xsd:string" >
          <xsd:annotation>
            <xsd:documentation>Attribute to store the moniker string.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- ClaseAbstractaTieneMetodoAbstracto -->
  <xsd:element name="claseAbstractaTieneMetodoAbstracto" type="ClaseAbstractaTieneMetodoAbstracto" substitutionGroup="core:modelElement" />
  <xsd:complexType name="ClaseAbstractaTieneMetodoAbstracto">
    <xsd:complexContent>
      <xsd:extension base="core:ModelElement">
        <xsd:sequence minOccurs="0" maxOccurs="1">
          <!-- Target end ClaseAbstracta -->
          <xsd:element ref="claseAbstractaMoniker" minOccurs="1" maxOccurs="1">
            <xsd:annotation>
              <xsd:documentation>[Target role-player]</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
        <!-- Id -->
        <xsd:attribute name="Id" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Instance Guid of this element, needed because SerializeId is set to true.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- ClaseAbstractaTieneMetodoAbstracto Moniker -->
  <xsd:element name="claseAbstractaTieneMetodoAbstractoMoniker" type="ClaseAbstractaTieneMetodoAbstractoMoniker" substitutionGroup="core:modelElementMoniker" />
  <xsd:complexType name="ClaseAbstractaTieneMetodoAbstractoMoniker">
    <xsd:annotation>
      <xsd:documentation>Moniker for ClaseAbstractaTieneMetodoAbstracto instance.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="core:ModelElementMoniker">
        <xsd:attribute name="Id" type="xsd:string" >
          <xsd:annotation>
            <xsd:documentation>Attribute to store the moniker string.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- Enum TipoParametro -->
  <xsd:simpleType name="TipoParametro">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="Entrada"/>
      <xsd:enumeration value="Salida"/>
      <xsd:enumeration value="EntradaSalida"/>
    </xsd:restriction>
  </xsd:simpleType>
  
  <!-- Enum Cardinalidad -->
  <xsd:simpleType name="Cardinalidad">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="Uno">
        <xsd:annotation>
          <xsd:documentation>El nombre del literal no puede ser 1</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="N"/>
      <xsd:enumeration value="Cero"/>
    </xsd:restriction>
  </xsd:simpleType>
  
  <!-- Enum TipoAgregacion -->
  <xsd:simpleType name="TipoAgregacion">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="Inclusiva"/>
      <xsd:enumeration value="Referencial"/>
    </xsd:restriction>
  </xsd:simpleType>
  
  <!-- Enum Totalidad -->
  <xsd:simpleType name="Totalidad">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="Total"/>
      <xsd:enumeration value="Parcial"/>
    </xsd:restriction>
  </xsd:simpleType>
  
  <!-- Enum DisjuntaSolapada -->
  <xsd:simpleType name="DisjuntaSolapada">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="Disjunta"/>
      <xsd:enumeration value="Solapada"/>
    </xsd:restriction>
  </xsd:simpleType>
  
  <!-- Enum TipoLetra -->
  <xsd:simpleType name="TipoLetra">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="ComicSans"/>
      <xsd:enumeration value="Papyrus"/>
      <xsd:enumeration value="Wingdings"/>
      <xsd:enumeration value="Arial"/>
      <xsd:enumeration value="Calibri"/>
    </xsd:restriction>
  </xsd:simpleType>
  
  <!-- Enum FormatoBoolean -->
  <xsd:simpleType name="FormatoBoolean">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="Checkbox"/>
      <xsd:enumeration value="RadioButton"/>
    </xsd:restriction>
  </xsd:simpleType>
  
  <!-- Enum ClaseAlineación -->
  <xsd:simpleType name="ClaseAlineación">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="Izquierda"/>
      <xsd:enumeration value="Centro"/>
      <xsd:enumeration value="Derecha"/>
    </xsd:restriction>
  </xsd:simpleType>
  
</xsd:schema>

