Dsl/GeneratedCode/DCMLRACPGProyectoIPSSchema.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema id="DCMLRACPGProyectoIPSSchema" targetNamespace="http://schemas.microsoft.com/dsltools/DCMLRACPGProyectoIPS" elementFormDefault="qualified" xmlns="http://schemas.microsoft.com/dsltools/DCMLRACPGProyectoIPS" xmlns:core="http://schemas.microsoft.com/VisualStudio/2008/DslTools/Core" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:import id="CoreSchema" namespace="http://schemas.microsoft.com/VisualStudio/2008/DslTools/Core" />
  <!-- TapizModelo -->
  <xsd:element name="tapizModelo" type="TapizModelo" substitutionGroup="core:modelElement" />
  <xsd:complexType name="TapizModelo">
    <xsd:annotation>
      <xsd:documentation>The root in which all other elements are embedded. Appears as a diagram.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="core:ModelElement">
        <xsd:sequence minOccurs="0" maxOccurs="1">
          <!-- Relationship: DomainRelationship1 -->
          <xsd:element name="clase" minOccurs="0" maxOccurs="1">
            <xsd:annotation>
              <xsd:documentation>Instances of DomainRelationship1</xsd:documentation>
            </xsd:annotation>
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element ref="domainRelationship1" minOccurs="0" maxOccurs="unbounded">
                  <xsd:annotation>
                    <xsd:documentation>[Instance of DomainRelationship1 needs to be serialized in full-form]</xsd:documentation>
                  </xsd:annotation>
                </xsd:element>
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
        </xsd:sequence>
        <!-- Id -->
        <xsd:attribute name="Id" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Instance Guid of this element, needed because SerializeId is set to true.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <!-- dslVersion -->
        <xsd:attribute name="dslVersion" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Version of the model serialized in this file.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- TapizModelo Moniker -->
  <xsd:element name="tapizModeloMoniker" type="TapizModeloMoniker" substitutionGroup="core:modelElementMoniker" />
  <xsd:complexType name="TapizModeloMoniker">
    <xsd:annotation>
      <xsd:documentation>Moniker for TapizModelo instance.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="core:ModelElementMoniker">
        <xsd:attribute name="Id" type="xsd:string" >
          <xsd:annotation>
            <xsd:documentation>Attribute to store the moniker string.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- Clase -->
  <xsd:element name="clase" type="Clase" substitutionGroup="core:modelElement" />
  <xsd:complexType name="Clase">
    <xsd:complexContent>
      <xsd:extension base="core:ModelElement">
        <xsd:sequence minOccurs="0" maxOccurs="1">
          <!-- Relationship: ClaseHasAtributo -->
          <xsd:element name="atributo" minOccurs="0" maxOccurs="1">
            <xsd:annotation>
              <xsd:documentation>Instances of ClaseHasAtributo</xsd:documentation>
            </xsd:annotation>
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element ref="claseHasAtributo" minOccurs="0" maxOccurs="unbounded">
                  <xsd:annotation>
                    <xsd:documentation>[Instance of ClaseHasAtributo needs to be serialized in full-form]</xsd:documentation>
                  </xsd:annotation>
                </xsd:element>
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
          <!-- Relationship: ClaseHasSignaturadeOperación -->
          <xsd:element name="signaturadeOperación" minOccurs="0" maxOccurs="1">
            <xsd:annotation>
              <xsd:documentation>Instances of ClaseHasSignaturadeOperación</xsd:documentation>
            </xsd:annotation>
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element ref="claseHasSignaturadeOperación" minOccurs="0" maxOccurs="unbounded">
                  <xsd:annotation>
                    <xsd:documentation>[Instance of ClaseHasSignaturadeOperación needs to be serialized in full-form]</xsd:documentation>
                  </xsd:annotation>
                </xsd:element>
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
          <!-- Relationship: Asociación -->
          <xsd:element name="targetClase" minOccurs="0" maxOccurs="1">
            <xsd:annotation>
              <xsd:documentation>Instances of Asociación</xsd:documentation>
            </xsd:annotation>
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element ref="asociación" minOccurs="0" maxOccurs="unbounded">
                  <xsd:annotation>
                    <xsd:documentation>[Instance of Asociación needs to be serialized in full-form]</xsd:documentation>
                  </xsd:annotation>
                </xsd:element>
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
          <!-- Relationship: Agregación -->
          <xsd:element name="conpuesta" minOccurs="0" maxOccurs="1">
            <xsd:annotation>
              <xsd:documentation>Instances of Agregación</xsd:documentation>
            </xsd:annotation>
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element ref="agregación" minOccurs="0" maxOccurs="unbounded">
                  <xsd:annotation>
                    <xsd:documentation>[Instance of Agregación needs to be serialized in full-form]</xsd:documentation>
                  </xsd:annotation>
                </xsd:element>
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
        </xsd:sequence>
        <!-- Id -->
        <xsd:attribute name="Id" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Instance Guid of this element, needed because SerializeId is set to true.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <!-- Property: Name -->
        <xsd:attribute name="name" type="xsd:string" use="required" />
        <!-- Property: ID -->
        <xsd:attribute name="iD" type="xsd:string" />
        <!-- Property: Abstracta -->
        <xsd:attribute name="abstracta" type="xsd:boolean" />
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- Clase Moniker -->
  <xsd:element name="claseMoniker" type="ClaseMoniker" substitutionGroup="core:modelElementMoniker" />
  <xsd:complexType name="ClaseMoniker">
    <xsd:annotation>
      <xsd:documentation>Moniker for Clase instance.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="core:ModelElementMoniker">
        <xsd:attribute name="name" type="xsd:string" >
          <xsd:annotation>
            <xsd:documentation>Attribute to store the moniker string.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- Atributo -->
  <xsd:element name="atributo" type="Atributo" substitutionGroup="core:modelElement" />
  <xsd:complexType name="Atributo">
    <xsd:complexContent>
      <xsd:extension base="core:ModelElement">
        <!-- Id -->
        <xsd:attribute name="Id" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Instance Guid of this element, needed because SerializeId is set to true.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <!-- Property: Name -->
        <xsd:attribute name="name" type="xsd:string" use="required" />
        <!-- Property: TipoDatos -->
        <xsd:attribute name="tipoDatos" type="xsd:string" />
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- Atributo Moniker -->
  <xsd:element name="atributoMoniker" type="AtributoMoniker" substitutionGroup="core:modelElementMoniker" />
  <xsd:complexType name="AtributoMoniker">
    <xsd:annotation>
      <xsd:documentation>Moniker for Atributo instance.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="core:ModelElementMoniker">
        <xsd:attribute name="name" type="xsd:string" >
          <xsd:annotation>
            <xsd:documentation>Attribute to store the moniker string.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- SignaturadeOperación -->
  <xsd:element name="signaturadeOperación" type="SignaturadeOperación" substitutionGroup="core:modelElement" />
  <xsd:complexType name="SignaturadeOperación">
    <xsd:complexContent>
      <xsd:extension base="core:ModelElement">
        <xsd:sequence minOccurs="0" maxOccurs="1">
          <!-- Relationship: SignaturadeOperaciónHasParámetros -->
          <xsd:element name="parámetros" minOccurs="0" maxOccurs="1">
            <xsd:annotation>
              <xsd:documentation>Instances of SignaturadeOperaciónHasParámetros</xsd:documentation>
            </xsd:annotation>
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element ref="signaturadeOperaciónHasParámetros" minOccurs="0" maxOccurs="unbounded">
                  <xsd:annotation>
                    <xsd:documentation>[Instance of SignaturadeOperaciónHasParámetros needs to be serialized in full-form]</xsd:documentation>
                  </xsd:annotation>
                </xsd:element>
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
        </xsd:sequence>
        <!-- Id -->
        <xsd:attribute name="Id" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Instance Guid of this element, needed because SerializeId is set to true.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <!-- Property: Name -->
        <xsd:attribute name="name" type="xsd:string" use="required" />
        <!-- Property: TipoRetorno -->
        <xsd:attribute name="tipoRetorno" type="xsd:string" />
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- SignaturadeOperación Moniker -->
  <xsd:element name="signaturadeOperaciónMoniker" type="SignaturadeOperaciónMoniker" substitutionGroup="core:modelElementMoniker" />
  <xsd:complexType name="SignaturadeOperaciónMoniker">
    <xsd:annotation>
      <xsd:documentation>Moniker for SignaturadeOperación instance.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="core:ModelElementMoniker">
        <xsd:attribute name="name" type="xsd:string" >
          <xsd:annotation>
            <xsd:documentation>Attribute to store the moniker string.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- Parámetros -->
  <xsd:element name="parámetros" type="Parámetros" substitutionGroup="core:modelElement" />
  <xsd:complexType name="Parámetros">
    <xsd:complexContent>
      <xsd:extension base="core:ModelElement">
        <!-- Id -->
        <xsd:attribute name="Id" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Instance Guid of this element, needed because SerializeId is set to true.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <!-- Property: Nombre -->
        <xsd:attribute name="nombre" type="xsd:string" use="required" />
        <!-- Property: TipoDato -->
        <xsd:attribute name="tipoDato" type="xsd:string" />
        <!-- Property: TipoParámetro -->
        <xsd:attribute name="tipoParámetro" type="TipoParametro" />
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- Parámetros Moniker -->
  <xsd:element name="parámetrosMoniker" type="ParámetrosMoniker" substitutionGroup="core:modelElementMoniker" />
  <xsd:complexType name="ParámetrosMoniker">
    <xsd:annotation>
      <xsd:documentation>Moniker for Parámetros instance.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="core:ModelElementMoniker">
        <xsd:attribute name="nombre" type="xsd:string" >
          <xsd:annotation>
            <xsd:documentation>Attribute to store the moniker string.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- ClaseAbstracta -->
  <xsd:element name="claseAbstracta" type="ClaseAbstracta" substitutionGroup="clase" />
  <xsd:complexType name="ClaseAbstracta">
    <xsd:complexContent>
      <xsd:extension base="Clase">
        <!-- Id -->
        <xsd:attribute name="Id" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Instance Guid of this element, needed because SerializeId is set to true.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- ClaseAbstracta Moniker -->
  <xsd:element name="claseAbstractaMoniker" type="ClaseAbstractaMoniker" substitutionGroup="claseMoniker" />
  <xsd:complexType name="ClaseAbstractaMoniker">
    <xsd:annotation>
      <xsd:documentation>Moniker for ClaseAbstracta instance.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="ClaseMoniker">
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- MétodoAbstracto -->
  <xsd:element name="métodoAbstracto" type="MétodoAbstracto" substitutionGroup="signaturadeOperación" />
  <xsd:complexType name="MétodoAbstracto">
    <xsd:complexContent>
      <xsd:extension base="SignaturadeOperación">
        <xsd:sequence minOccurs="0" maxOccurs="1">
          <!-- Relationship: ClaseAbstractaTieneMetodoAbstracto -->
          <xsd:element name="claseAbstracta" minOccurs="1" maxOccurs="1">
            <xsd:annotation>
              <xsd:documentation>Instance of ClaseAbstractaTieneMetodoAbstracto</xsd:documentation>
            </xsd:annotation>
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element ref="claseAbstractaTieneMetodoAbstracto" minOccurs="1" maxOccurs="1">
                  <xsd:annotation>
                    <xsd:documentation>[Instance of ClaseAbstractaTieneMetodoAbstracto needs to be serialized in full-form]</xsd:documentation>
                  </xsd:annotation>
                </xsd:element>
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
        </xsd:sequence>
        <!-- Id -->
        <xsd:attribute name="Id" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Instance Guid of this element, needed because SerializeId is set to true.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- MétodoAbstracto Moniker -->
  <xsd:element name="métodoAbstractoMoniker" type="MétodoAbstractoMoniker" substitutionGroup="signaturadeOperaciónMoniker" />
  <xsd:complexType name="MétodoAbstractoMoniker">
    <xsd:annotation>
      <xsd:documentation>Moniker for MétodoAbstracto instance.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="SignaturadeOperaciónMoniker">
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- PresentaciónMetodoAtributo -->
  <xsd:element name="presentaciónMetodoAtributo" abstract="true" type="PresentaciónMetodoAtributo" substitutionGroup="core:modelElement" />
  <xsd:complexType name="PresentaciónMetodoAtributo" abstract="true" >
    <xsd:complexContent>
      <xsd:extension base="core:ModelElement">
        <!-- Id -->
        <xsd:attribute name="Id" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Instance Guid of this element, needed because SerializeId is set to true.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- PresentaciónMetodoAtributo Moniker -->
  <xsd:element name="presentaciónMetodoAtributoMoniker" abstract="true" type="PresentaciónMetodoAtributoMoniker" substitutionGroup="core:modelElementMoniker" />
  <xsd:complexType name="PresentaciónMetodoAtributoMoniker">
    <xsd:annotation>
      <xsd:documentation>Moniker for PresentaciónMetodoAtributo instance.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="core:ModelElementMoniker">
        <xsd:attribute name="Id" type="xsd:string" >
          <xsd:annotation>
            <xsd:documentation>Attribute to store the moniker string.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- DomainRelationship1 -->
  <xsd:element name="domainRelationship1" type="DomainRelationship1" substitutionGroup="core:modelElement" />
  <xsd:complexType name="DomainRelationship1">
    <xsd:complexContent>
      <xsd:extension base="core:ModelElement">
        <xsd:sequence minOccurs="0" maxOccurs="1">
          <!-- Target end Clase -->
          <xsd:element ref="clase" minOccurs="1" maxOccurs="1">
            <xsd:annotation>
              <xsd:documentation>[Target role-player]</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
        <!-- Id -->
        <xsd:attribute name="Id" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Instance Guid of this element, needed because SerializeId is set to true.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- DomainRelationship1 Moniker -->
  <xsd:element name="domainRelationship1Moniker" type="DomainRelationship1Moniker" substitutionGroup="core:modelElementMoniker" />
  <xsd:complexType name="DomainRelationship1Moniker">
    <xsd:annotation>
      <xsd:documentation>Moniker for DomainRelationship1 instance.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="core:ModelElementMoniker">
        <xsd:attribute name="Id" type="xsd:string" >
          <xsd:annotation>
            <xsd:documentation>Attribute to store the moniker string.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- ClaseHasAtributo -->
  <xsd:element name="claseHasAtributo" type="ClaseHasAtributo" substitutionGroup="core:modelElement" />
  <xsd:complexType name="ClaseHasAtributo">
    <xsd:complexContent>
      <xsd:extension base="core:ModelElement">
        <xsd:sequence minOccurs="0" maxOccurs="1">
          <!-- Target end Atributo -->
          <xsd:element ref="atributo" minOccurs="1" maxOccurs="1">
            <xsd:annotation>
              <xsd:documentation>[Target role-player]</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
        <!-- Id -->
        <xsd:attribute name="Id" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Instance Guid of this element, needed because SerializeId is set to true.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- ClaseHasAtributo Moniker -->
  <xsd:element name="claseHasAtributoMoniker" type="ClaseHasAtributoMoniker" substitutionGroup="core:modelElementMoniker" />
  <xsd:complexType name="ClaseHasAtributoMoniker">
    <xsd:annotation>
      <xsd:documentation>Moniker for ClaseHasAtributo instance.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="core:ModelElementMoniker">
        <xsd:attribute name="Id" type="xsd:string" >
          <xsd:annotation>
            <xsd:documentation>Attribute to store the moniker string.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- ClaseHasSignaturadeOperación -->
  <xsd:element name="claseHasSignaturadeOperación" type="ClaseHasSignaturadeOperación" substitutionGroup="core:modelElement" />
  <xsd:complexType name="ClaseHasSignaturadeOperación">
    <xsd:complexContent>
      <xsd:extension base="core:ModelElement">
        <xsd:sequence minOccurs="0" maxOccurs="1">
          <!-- Target end SignaturadeOperación -->
          <xsd:element ref="signaturadeOperación" minOccurs="1" maxOccurs="1">
            <xsd:annotation>
              <xsd:documentation>[Target role-player]</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
        <!-- Id -->
        <xsd:attribute name="Id" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Instance Guid of this element, needed because SerializeId is set to true.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- ClaseHasSignaturadeOperación Moniker -->
  <xsd:element name="claseHasSignaturadeOperaciónMoniker" type="ClaseHasSignaturadeOperaciónMoniker" substitutionGroup="core:modelElementMoniker" />
  <xsd:complexType name="ClaseHasSignaturadeOperaciónMoniker">
    <xsd:annotation>
      <xsd:documentation>Moniker for ClaseHasSignaturadeOperación instance.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="core:ModelElementMoniker">
        <xsd:attribute name="Id" type="xsd:string" >
          <xsd:annotation>
            <xsd:documentation>Attribute to store the moniker string.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- SignaturadeOperaciónHasParámetros -->
  <xsd:element name="signaturadeOperaciónHasParámetros" type="SignaturadeOperaciónHasParámetros" substitutionGroup="core:modelElement" />
  <xsd:complexType name="SignaturadeOperaciónHasParámetros">
    <xsd:complexContent>
      <xsd:extension base="core:ModelElement">
        <xsd:sequence minOccurs="0" maxOccurs="1">
          <!-- Target end Parámetros -->
          <xsd:element ref="parámetros" minOccurs="1" maxOccurs="1">
            <xsd:annotation>
              <xsd:documentation>[Target role-player]</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
        <!-- Id -->
        <xsd:attribute name="Id" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Instance Guid of this element, needed because SerializeId is set to true.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- SignaturadeOperaciónHasParámetros Moniker -->
  <xsd:element name="signaturadeOperaciónHasParámetrosMoniker" type="SignaturadeOperaciónHasParámetrosMoniker" substitutionGroup="core:modelElementMoniker" />
  <xsd:complexType name="SignaturadeOperaciónHasParámetrosMoniker">
    <xsd:annotation>
      <xsd:documentation>Moniker for SignaturadeOperaciónHasParámetros instance.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="core:ModelElementMoniker">
        <xsd:attribute name="Id" type="xsd:string" >
          <xsd:annotation>
            <xsd:documentation>Attribute to store the moniker string.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- Asociación -->
  <xsd:element name="asociación" type="Asociación" substitutionGroup="core:modelElement" />
  <xsd:complexType name="Asociación">
    <xsd:complexContent>
      <xsd:extension base="core:ModelElement">
        <xsd:sequence minOccurs="0" maxOccurs="1">
          <!-- Target end Clase -->
          <xsd:element ref="claseMoniker" minOccurs="1" maxOccurs="1">
            <xsd:annotation>
              <xsd:documentation>[Target role-player]</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
        <!-- Id -->
        <xsd:attribute name="Id" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Instance Guid of this element, needed because SerializeId is set to true.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <!-- Property: Nombre -->
        <xsd:attribute name="nombre" type="xsd:string" />
        <!-- Property: CardinalidadMinimaSource -->
        <xsd:attribute name="cardinalidadMinimaSource" type="Cardinalidad" />
        <!-- Property: CardinalidadMinimaTarget -->
        <xsd:attribute name="cardinalidadMinimaTarget" type="Cardinalidad" />
        <!-- Property: CardinalidadMaximaSource -->
        <xsd:attribute name="cardinalidadMaximaSource" type="Cardinalidad" />
        <!-- Property: CardinalidadMaximaTarget -->
        <xsd:attribute name="cardinalidadMaximaTarget" type="Cardinalidad" />
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- Asociación Moniker -->
  <xsd:element name="asociaciónMoniker" type="AsociaciónMoniker" substitutionGroup="core:modelElementMoniker" />
  <xsd:complexType name="AsociaciónMoniker">
    <xsd:annotation>
      <xsd:documentation>Moniker for Asociación instance.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="core:ModelElementMoniker">
        <xsd:attribute name="Id" type="xsd:string" >
          <xsd:annotation>
            <xsd:documentation>Attribute to store the moniker string.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- Agregación -->
  <xsd:element name="agregación" type="Agregación" substitutionGroup="core:modelElement" />
  <xsd:complexType name="Agregación">
    <xsd:complexContent>
      <xsd:extension base="core:ModelElement">
        <xsd:sequence minOccurs="0" maxOccurs="1">
          <!-- Target end Clase -->
          <xsd:element ref="claseMoniker" minOccurs="1" maxOccurs="1">
            <xsd:annotation>
              <xsd:documentation>[Target role-player]</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
        <!-- Id -->
        <xsd:attribute name="Id" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Instance Guid of this element, needed because SerializeId is set to true.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <!-- Property: Nombre -->
        <xsd:attribute name="nombre" type="xsd:string" />
        <!-- Property: CardinalidadMinimaComponente -->
        <xsd:attribute name="cardinalidadMinimaComponente" type="Cardinalidad" />
        <!-- Property: CardinalidadMinimaCompuesta -->
        <xsd:attribute name="cardinalidadMinimaCompuesta" type="Cardinalidad" />
        <!-- Property: CardinalidadMaximaComponente -->
        <xsd:attribute name="cardinalidadMaximaComponente" type="Cardinalidad" />
        <!-- Property: CardinalidadMaximaCompuesta -->
        <xsd:attribute name="cardinalidadMaximaCompuesta" type="Cardinalidad" />
        <!-- Property: Tipo -->
        <xsd:attribute name="tipo" type="xsd:string" />
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- Agregación Moniker -->
  <xsd:element name="agregaciónMoniker" type="AgregaciónMoniker" substitutionGroup="core:modelElementMoniker" />
  <xsd:complexType name="AgregaciónMoniker">
    <xsd:annotation>
      <xsd:documentation>Moniker for Agregación instance.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="core:ModelElementMoniker">
        <xsd:attribute name="Id" type="xsd:string" >
          <xsd:annotation>
            <xsd:documentation>Attribute to store the moniker string.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- ClaseAbstractaTieneMetodoAbstracto -->
  <xsd:element name="claseAbstractaTieneMetodoAbstracto" type="ClaseAbstractaTieneMetodoAbstracto" substitutionGroup="core:modelElement" />
  <xsd:complexType name="ClaseAbstractaTieneMetodoAbstracto">
    <xsd:complexContent>
      <xsd:extension base="core:ModelElement">
        <xsd:sequence minOccurs="0" maxOccurs="1">
          <!-- Target end ClaseAbstracta -->
          <xsd:element ref="claseAbstractaMoniker" minOccurs="1" maxOccurs="1">
            <xsd:annotation>
              <xsd:documentation>[Target role-player]</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
        <!-- Id -->
        <xsd:attribute name="Id" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Instance Guid of this element, needed because SerializeId is set to true.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- ClaseAbstractaTieneMetodoAbstracto Moniker -->
  <xsd:element name="claseAbstractaTieneMetodoAbstractoMoniker" type="ClaseAbstractaTieneMetodoAbstractoMoniker" substitutionGroup="core:modelElementMoniker" />
  <xsd:complexType name="ClaseAbstractaTieneMetodoAbstractoMoniker">
    <xsd:annotation>
      <xsd:documentation>Moniker for ClaseAbstractaTieneMetodoAbstracto instance.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="core:ModelElementMoniker">
        <xsd:attribute name="Id" type="xsd:string" >
          <xsd:annotation>
            <xsd:documentation>Attribute to store the moniker string.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- Enum TipoParametro -->
  <xsd:simpleType name="TipoParametro">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="Entrada"/>
      <xsd:enumeration value="Salida"/>
      <xsd:enumeration value="EntradaSalida"/>
    </xsd:restriction>
  </xsd:simpleType>
  
  <!-- Enum Cardinalidad -->
  <xsd:simpleType name="Cardinalidad">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="Cero">
        <xsd:annotation>
          <xsd:documentation>El nombre del literal no puede ser 0</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="Uno">
        <xsd:annotation>
          <xsd:documentation>El nombre del literal no puede ser 1</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="N"/>
    </xsd:restriction>
  </xsd:simpleType>
  
  <!-- Enum TipoAgregacion -->
  <xsd:simpleType name="TipoAgregacion">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="Inclusiva"/>
      <xsd:enumeration value="Referencial"/>
    </xsd:restriction>
  </xsd:simpleType>
  
  <!-- Enum Totalidad -->
  <xsd:simpleType name="Totalidad">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="Total"/>
      <xsd:enumeration value="Parcial"/>
    </xsd:restriction>
  </xsd:simpleType>
  
  <!-- Enum DisjuntaSolapada -->
  <xsd:simpleType name="DisjuntaSolapada">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="Disjunta"/>
      <xsd:enumeration value="Solapada"/>
    </xsd:restriction>
  </xsd:simpleType>
  
</xsd:schema>

