Dsl/GeneratedCode/DCMLRACPGProyectoIPSSchema.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema id="DCMLRACPGProyectoIPSSchema" targetNamespace="http://schemas.microsoft.com/dsltools/DCMLRACPGProyectoIPS" elementFormDefault="qualified" xmlns="http://schemas.microsoft.com/dsltools/DCMLRACPGProyectoIPS" xmlns:core="http://schemas.microsoft.com/VisualStudio/2008/DslTools/Core" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:import id="CoreSchema" namespace="http://schemas.microsoft.com/VisualStudio/2008/DslTools/Core" />
  <!-- TapizModelo -->
  <xsd:element name="tapizModelo" type="TapizModelo" substitutionGroup="core:modelElement" />
  <xsd:complexType name="TapizModelo">
    <xsd:annotation>
      <xsd:documentation>The root in which all other elements are embedded. Appears as a diagram.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="core:ModelElement">
        <xsd:sequence minOccurs="0" maxOccurs="1">
          <!-- Relationship: TapizModeloHasClase -->
          <xsd:element name="clase" minOccurs="0" maxOccurs="1">
            <xsd:annotation>
              <xsd:documentation>Instances of TapizModeloHasClase</xsd:documentation>
            </xsd:annotation>
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element ref="tapizModeloHasClase" minOccurs="0" maxOccurs="unbounded">
                  <xsd:annotation>
                    <xsd:documentation>[Instance of TapizModeloHasClase needs to be serialized in full-form]</xsd:documentation>
                  </xsd:annotation>
                </xsd:element>
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
        </xsd:sequence>
        <!-- Id -->
        <xsd:attribute name="Id" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Instance Guid of this element, needed because SerializeId is set to true.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <!-- dslVersion -->
        <xsd:attribute name="dslVersion" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Version of the model serialized in this file.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- TapizModelo Moniker -->
  <xsd:element name="tapizModeloMoniker" type="TapizModeloMoniker" substitutionGroup="core:modelElementMoniker" />
  <xsd:complexType name="TapizModeloMoniker">
    <xsd:annotation>
      <xsd:documentation>Moniker for TapizModelo instance.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="core:ModelElementMoniker">
        <xsd:attribute name="Id" type="xsd:string" >
          <xsd:annotation>
            <xsd:documentation>Attribute to store the moniker string.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- Atributo -->
  <xsd:element name="atributo" type="Atributo" substitutionGroup="atributoEnriquecido" />
  <xsd:complexType name="Atributo">
    <xsd:complexContent>
      <xsd:extension base="AtributoEnriquecido">
        <!-- Id -->
        <xsd:attribute name="Id" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Instance Guid of this element, needed because SerializeId is set to true.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <!-- Property: Name -->
        <xsd:attribute name="name" type="xsd:string" />
        <!-- Property: TipoDatos -->
        <xsd:attribute name="tipoDatos" type="xsd:string" />
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- Atributo Moniker -->
  <xsd:element name="atributoMoniker" type="AtributoMoniker" substitutionGroup="atributoEnriquecidoMoniker" />
  <xsd:complexType name="AtributoMoniker">
    <xsd:annotation>
      <xsd:documentation>Moniker for Atributo instance.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="AtributoEnriquecidoMoniker">
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- Parametro -->
  <xsd:element name="parametro" type="Parametro" substitutionGroup="core:modelElement" />
  <xsd:complexType name="Parametro">
    <xsd:complexContent>
      <xsd:extension base="core:ModelElement">
        <!-- Id -->
        <xsd:attribute name="Id" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Instance Guid of this element, needed because SerializeId is set to true.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <!-- Property: Nombre -->
        <xsd:attribute name="nombre" type="xsd:string" />
        <!-- Property: TipoDato -->
        <xsd:attribute name="tipoDato" type="xsd:string" />
        <!-- Property: TipoParametro -->
        <xsd:attribute name="tipoParametro" type="TipoParametro" />
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- Parametro Moniker -->
  <xsd:element name="parametroMoniker" type="ParametroMoniker" substitutionGroup="core:modelElementMoniker" />
  <xsd:complexType name="ParametroMoniker">
    <xsd:annotation>
      <xsd:documentation>Moniker for Parametro instance.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="core:ModelElementMoniker">
        <xsd:attribute name="Id" type="xsd:string" >
          <xsd:annotation>
            <xsd:documentation>Attribute to store the moniker string.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- ClaseAbstracta -->
  <xsd:element name="claseAbstracta" type="ClaseAbstracta" substitutionGroup="clase" />
  <xsd:complexType name="ClaseAbstracta">
    <xsd:complexContent>
      <xsd:extension base="Clase">
        <xsd:sequence minOccurs="0" maxOccurs="1">
          <!-- Relationship: ClaseAbstractaTieneMétodoAbstracto -->
          <xsd:element name="métodoAbstracto" minOccurs="0" maxOccurs="1">
            <xsd:annotation>
              <xsd:documentation>Instances of ClaseAbstractaTieneMétodoAbstracto</xsd:documentation>
            </xsd:annotation>
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element ref="claseAbstractaTieneMétodoAbstracto" minOccurs="0" maxOccurs="unbounded">
                  <xsd:annotation>
                    <xsd:documentation>[Instance of ClaseAbstractaTieneMétodoAbstracto needs to be serialized in full-form]</xsd:documentation>
                  </xsd:annotation>
                </xsd:element>
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
        </xsd:sequence>
        <!-- Id -->
        <xsd:attribute name="Id" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Instance Guid of this element, needed because SerializeId is set to true.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- ClaseAbstracta Moniker -->
  <xsd:element name="claseAbstractaMoniker" type="ClaseAbstractaMoniker" substitutionGroup="claseMoniker" />
  <xsd:complexType name="ClaseAbstractaMoniker">
    <xsd:annotation>
      <xsd:documentation>Moniker for ClaseAbstracta instance.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="ClaseMoniker">
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- Metodo -->
  <xsd:element name="metodo" type="Metodo" substitutionGroup="metodoEnriquecido" />
  <xsd:complexType name="Metodo">
    <xsd:complexContent>
      <xsd:extension base="MetodoEnriquecido">
        <xsd:sequence minOccurs="0" maxOccurs="1">
          <!-- Relationship: MetodoHasParametro -->
          <xsd:element name="parametro" minOccurs="0" maxOccurs="1">
            <xsd:annotation>
              <xsd:documentation>Instances of MetodoHasParametro</xsd:documentation>
            </xsd:annotation>
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element ref="metodoHasParametro" minOccurs="0" maxOccurs="unbounded">
                  <xsd:annotation>
                    <xsd:documentation>[Instance of MetodoHasParametro needs to be serialized in full-form]</xsd:documentation>
                  </xsd:annotation>
                </xsd:element>
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
        </xsd:sequence>
        <!-- Id -->
        <xsd:attribute name="Id" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Instance Guid of this element, needed because SerializeId is set to true.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <!-- Property: Name -->
        <xsd:attribute name="name" type="xsd:string" />
        <!-- Property: TipoRetorno -->
        <xsd:attribute name="tipoRetorno" type="xsd:string" />
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- Metodo Moniker -->
  <xsd:element name="metodoMoniker" type="MetodoMoniker" substitutionGroup="metodoEnriquecidoMoniker" />
  <xsd:complexType name="MetodoMoniker">
    <xsd:annotation>
      <xsd:documentation>Moniker for Metodo instance.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="MetodoEnriquecidoMoniker">
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- Clase -->
  <xsd:element name="clase" type="Clase" substitutionGroup="claseEnriquecida" />
  <xsd:complexType name="Clase">
    <xsd:complexContent>
      <xsd:extension base="ClaseEnriquecida">
        <xsd:sequence minOccurs="0" maxOccurs="1">
          <!-- Relationship: Agregacion -->
          <xsd:element name="compuesta" minOccurs="0" maxOccurs="1">
            <xsd:annotation>
              <xsd:documentation>Instances of Agregacion</xsd:documentation>
            </xsd:annotation>
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element ref="agregacion" minOccurs="0" maxOccurs="unbounded">
                  <xsd:annotation>
                    <xsd:documentation>[Instance of Agregacion needs to be serialized in full-form]</xsd:documentation>
                  </xsd:annotation>
                </xsd:element>
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
          <!-- Relationship: Asociacion -->
          <xsd:element name="targetClase" minOccurs="0" maxOccurs="1">
            <xsd:annotation>
              <xsd:documentation>Instances of Asociacion</xsd:documentation>
            </xsd:annotation>
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element ref="asociacion" minOccurs="0" maxOccurs="unbounded">
                  <xsd:annotation>
                    <xsd:documentation>[Instance of Asociacion needs to be serialized in full-form]</xsd:documentation>
                  </xsd:annotation>
                </xsd:element>
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
          <!-- Relationship: ClaseHasAtributo -->
          <xsd:element name="atributo" minOccurs="0" maxOccurs="1">
            <xsd:annotation>
              <xsd:documentation>Instances of ClaseHasAtributo</xsd:documentation>
            </xsd:annotation>
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element ref="claseHasAtributo" minOccurs="0" maxOccurs="unbounded">
                  <xsd:annotation>
                    <xsd:documentation>[Instance of ClaseHasAtributo needs to be serialized in full-form]</xsd:documentation>
                  </xsd:annotation>
                </xsd:element>
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
          <!-- Relationship: ClaseHasMetodo -->
          <xsd:element name="metodo" minOccurs="0" maxOccurs="1">
            <xsd:annotation>
              <xsd:documentation>Instances of ClaseHasMetodo</xsd:documentation>
            </xsd:annotation>
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element ref="claseHasMetodo" minOccurs="0" maxOccurs="unbounded">
                  <xsd:annotation>
                    <xsd:documentation>[Instance of ClaseHasMetodo needs to be serialized in full-form]</xsd:documentation>
                  </xsd:annotation>
                </xsd:element>
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
          <!-- Relationship: Herencia -->
          <xsd:element name="subClase" minOccurs="0" maxOccurs="1">
            <xsd:annotation>
              <xsd:documentation>Instances of Herencia</xsd:documentation>
            </xsd:annotation>
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element ref="herencia" minOccurs="0" maxOccurs="unbounded">
                  <xsd:annotation>
                    <xsd:documentation>[Instance of Herencia needs to be serialized in full-form]</xsd:documentation>
                  </xsd:annotation>
                </xsd:element>
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
        </xsd:sequence>
        <!-- Id -->
        <xsd:attribute name="Id" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Instance Guid of this element, needed because SerializeId is set to true.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <!-- Property: Name -->
        <xsd:attribute name="name" type="xsd:string" />
        <!-- Property: Identificador -->
        <xsd:attribute name="identificador" type="xsd:string" />
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- Clase Moniker -->
  <xsd:element name="claseMoniker" type="ClaseMoniker" substitutionGroup="claseEnriquecidaMoniker" />
  <xsd:complexType name="ClaseMoniker">
    <xsd:annotation>
      <xsd:documentation>Moniker for Clase instance.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="ClaseEnriquecidaMoniker">
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- MétodoAbstracto -->
  <xsd:element name="métodoAbstracto" type="MétodoAbstracto" substitutionGroup="metodo" />
  <xsd:complexType name="MétodoAbstracto">
    <xsd:complexContent>
      <xsd:extension base="Metodo">
        <!-- Id -->
        <xsd:attribute name="Id" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Instance Guid of this element, needed because SerializeId is set to true.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- MétodoAbstracto Moniker -->
  <xsd:element name="métodoAbstractoMoniker" type="MétodoAbstractoMoniker" substitutionGroup="metodoMoniker" />
  <xsd:complexType name="MétodoAbstractoMoniker">
    <xsd:annotation>
      <xsd:documentation>Moniker for MétodoAbstracto instance.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="MetodoMoniker">
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- ClaseEnriquecida -->
  <xsd:element name="claseEnriquecida" abstract="true" type="ClaseEnriquecida" substitutionGroup="core:modelElement" />
  <xsd:complexType name="ClaseEnriquecida" abstract="true" >
    <xsd:complexContent>
      <xsd:extension base="core:ModelElement">
        <!-- Id -->
        <xsd:attribute name="Id" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Instance Guid of this element, needed because SerializeId is set to true.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <!-- Property: Enriquecida -->
        <xsd:attribute name="enriquecida" type="xsd:boolean" />
        <!-- Property: FondoColorR -->
        <xsd:attribute name="fondoColorR" type="xsd:string" />
        <!-- Property: FondoColorG -->
        <xsd:attribute name="fondoColorG" type="xsd:string" />
        <!-- Property: FondoColorB -->
        <xsd:attribute name="fondoColorB" type="xsd:string" />
        <!-- Property: NombreColorR -->
        <xsd:attribute name="nombreColorR" type="xsd:string" />
        <!-- Property: NombreColorG -->
        <xsd:attribute name="nombreColorG" type="xsd:string" />
        <!-- Property: TipoLetra -->
        <xsd:attribute name="tipoLetra" type="TipoLetra" />
        <!-- Property: Alineacion -->
        <xsd:attribute name="alineacion" type="Alineacion" />
        <!-- Property: NombreColorB -->
        <xsd:attribute name="nombreColorB" type="xsd:string" />
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- ClaseEnriquecida Moniker -->
  <xsd:element name="claseEnriquecidaMoniker" abstract="true" type="ClaseEnriquecidaMoniker" substitutionGroup="core:modelElementMoniker" />
  <xsd:complexType name="ClaseEnriquecidaMoniker">
    <xsd:annotation>
      <xsd:documentation>Moniker for ClaseEnriquecida instance.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="core:ModelElementMoniker">
        <xsd:attribute name="Id" type="xsd:string" >
          <xsd:annotation>
            <xsd:documentation>Attribute to store the moniker string.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- MetodoEnriquecido -->
  <xsd:element name="metodoEnriquecido" abstract="true" type="MetodoEnriquecido" substitutionGroup="core:modelElement" />
  <xsd:complexType name="MetodoEnriquecido" abstract="true" >
    <xsd:complexContent>
      <xsd:extension base="core:ModelElement">
        <!-- Id -->
        <xsd:attribute name="Id" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Instance Guid of this element, needed because SerializeId is set to true.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <!-- Property: TipoLetra -->
        <xsd:attribute name="tipoLetra" type="TipoLetra1" />
        <!-- Property: ColorLetraR -->
        <xsd:attribute name="colorLetraR" type="xsd:string" />
        <!-- Property: ColorLetraG -->
        <xsd:attribute name="colorLetraG" type="xsd:string" />
        <!-- Property: ColorLetraB -->
        <xsd:attribute name="colorLetraB" type="xsd:string" />
        <!-- Property: Enriquecido -->
        <xsd:attribute name="enriquecido" type="xsd:boolean" />
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- MetodoEnriquecido Moniker -->
  <xsd:element name="metodoEnriquecidoMoniker" abstract="true" type="MetodoEnriquecidoMoniker" substitutionGroup="core:modelElementMoniker" />
  <xsd:complexType name="MetodoEnriquecidoMoniker">
    <xsd:annotation>
      <xsd:documentation>Moniker for MetodoEnriquecido instance.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="core:ModelElementMoniker">
        <xsd:attribute name="Id" type="xsd:string" >
          <xsd:annotation>
            <xsd:documentation>Attribute to store the moniker string.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- AtributoEnriquecido -->
  <xsd:element name="atributoEnriquecido" abstract="true" type="AtributoEnriquecido" substitutionGroup="core:modelElement" />
  <xsd:complexType name="AtributoEnriquecido" abstract="true" >
    <xsd:complexContent>
      <xsd:extension base="core:ModelElement">
        <!-- Id -->
        <xsd:attribute name="Id" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Instance Guid of this element, needed because SerializeId is set to true.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <!-- Property: ColorLetraR -->
        <xsd:attribute name="colorLetraR" type="xsd:string" />
        <!-- Property: ColorLetraG -->
        <xsd:attribute name="colorLetraG" type="xsd:string" />
        <!-- Property: ColorLetraB -->
        <xsd:attribute name="colorLetraB" type="xsd:string" />
        <!-- Property: TipoLetra -->
        <xsd:attribute name="tipoLetra" type="TipoLetra1" />
        <!-- Property: FormatoBooleano -->
        <xsd:attribute name="formatoBooleano" type="FormatoBoolean" />
        <!-- Property: Enriquecido -->
        <xsd:attribute name="enriquecido" type="xsd:boolean" />
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- AtributoEnriquecido Moniker -->
  <xsd:element name="atributoEnriquecidoMoniker" abstract="true" type="AtributoEnriquecidoMoniker" substitutionGroup="core:modelElementMoniker" />
  <xsd:complexType name="AtributoEnriquecidoMoniker">
    <xsd:annotation>
      <xsd:documentation>Moniker for AtributoEnriquecido instance.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="core:ModelElementMoniker">
        <xsd:attribute name="Id" type="xsd:string" >
          <xsd:annotation>
            <xsd:documentation>Attribute to store the moniker string.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- MetodoHasParametro -->
  <xsd:element name="metodoHasParametro" type="MetodoHasParametro" substitutionGroup="core:modelElement" />
  <xsd:complexType name="MetodoHasParametro">
    <xsd:complexContent>
      <xsd:extension base="core:ModelElement">
        <xsd:sequence minOccurs="0" maxOccurs="1">
          <!-- Target end Parametro -->
          <xsd:element ref="parametro" minOccurs="1" maxOccurs="1">
            <xsd:annotation>
              <xsd:documentation>[Target role-player]</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
        <!-- Id -->
        <xsd:attribute name="Id" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Instance Guid of this element, needed because SerializeId is set to true.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- MetodoHasParametro Moniker -->
  <xsd:element name="metodoHasParametroMoniker" type="MetodoHasParametroMoniker" substitutionGroup="core:modelElementMoniker" />
  <xsd:complexType name="MetodoHasParametroMoniker">
    <xsd:annotation>
      <xsd:documentation>Moniker for MetodoHasParametro instance.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="core:ModelElementMoniker">
        <xsd:attribute name="Id" type="xsd:string" >
          <xsd:annotation>
            <xsd:documentation>Attribute to store the moniker string.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- TapizModeloHasClase -->
  <xsd:element name="tapizModeloHasClase" type="TapizModeloHasClase" substitutionGroup="core:modelElement" />
  <xsd:complexType name="TapizModeloHasClase">
    <xsd:complexContent>
      <xsd:extension base="core:ModelElement">
        <xsd:sequence minOccurs="0" maxOccurs="1">
          <!-- Target end Clase -->
          <xsd:element ref="clase" minOccurs="1" maxOccurs="1">
            <xsd:annotation>
              <xsd:documentation>[Target role-player]</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
        <!-- Id -->
        <xsd:attribute name="Id" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Instance Guid of this element, needed because SerializeId is set to true.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- TapizModeloHasClase Moniker -->
  <xsd:element name="tapizModeloHasClaseMoniker" type="TapizModeloHasClaseMoniker" substitutionGroup="core:modelElementMoniker" />
  <xsd:complexType name="TapizModeloHasClaseMoniker">
    <xsd:annotation>
      <xsd:documentation>Moniker for TapizModeloHasClase instance.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="core:ModelElementMoniker">
        <xsd:attribute name="Id" type="xsd:string" >
          <xsd:annotation>
            <xsd:documentation>Attribute to store the moniker string.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- Agregacion -->
  <xsd:element name="agregacion" type="Agregacion" substitutionGroup="core:modelElement" />
  <xsd:complexType name="Agregacion">
    <xsd:complexContent>
      <xsd:extension base="core:ModelElement">
        <xsd:sequence minOccurs="0" maxOccurs="1">
          <!-- Target end Clase -->
          <xsd:element ref="claseMoniker" minOccurs="1" maxOccurs="1">
            <xsd:annotation>
              <xsd:documentation>[Target role-player]</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
        <!-- Id -->
        <xsd:attribute name="Id" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Instance Guid of this element, needed because SerializeId is set to true.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <!-- Property: Nombre -->
        <xsd:attribute name="nombre" type="xsd:string" />
        <!-- Property: CardMinComponente -->
        <xsd:attribute name="cardMinComponente" type="Cardinalidad" />
        <!-- Property: CardMaxComponente -->
        <xsd:attribute name="cardMaxComponente" type="Cardinalidad" />
        <!-- Property: CardMinCompuesta -->
        <xsd:attribute name="cardMinCompuesta" type="Cardinalidad" />
        <!-- Property: CardMaxCompuesta -->
        <xsd:attribute name="cardMaxCompuesta" type="Cardinalidad" />
        <!-- Property: TipoAgregación -->
        <xsd:attribute name="tipoAgregación" type="TipoAgregación" />
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- Agregacion Moniker -->
  <xsd:element name="agregacionMoniker" type="AgregacionMoniker" substitutionGroup="core:modelElementMoniker" />
  <xsd:complexType name="AgregacionMoniker">
    <xsd:annotation>
      <xsd:documentation>Moniker for Agregacion instance.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="core:ModelElementMoniker">
        <xsd:attribute name="Id" type="xsd:string" >
          <xsd:annotation>
            <xsd:documentation>Attribute to store the moniker string.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- Asociacion -->
  <xsd:element name="asociacion" type="Asociacion" substitutionGroup="core:modelElement" />
  <xsd:complexType name="Asociacion">
    <xsd:complexContent>
      <xsd:extension base="core:ModelElement">
        <xsd:sequence minOccurs="0" maxOccurs="1">
          <!-- Target end Clase -->
          <xsd:element ref="claseMoniker" minOccurs="1" maxOccurs="1">
            <xsd:annotation>
              <xsd:documentation>[Target role-player]</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
        <!-- Id -->
        <xsd:attribute name="Id" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Instance Guid of this element, needed because SerializeId is set to true.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <!-- Property: Nombre -->
        <xsd:attribute name="nombre" type="xsd:string" />
        <!-- Property: CardinalidadMinimaSource -->
        <xsd:attribute name="cardinalidadMinimaSource" type="Cardinalidad1" />
        <!-- Property: CardinalidadMinimaTarget -->
        <xsd:attribute name="cardinalidadMinimaTarget" type="Cardinalidad1" />
        <!-- Property: CardinalidadMaximaSource -->
        <xsd:attribute name="cardinalidadMaximaSource" type="Cardinalidad1" />
        <!-- Property: CardinalidadMaximaTarget -->
        <xsd:attribute name="cardinalidadMaximaTarget" type="Cardinalidad1" />
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- Asociacion Moniker -->
  <xsd:element name="asociacionMoniker" type="AsociacionMoniker" substitutionGroup="core:modelElementMoniker" />
  <xsd:complexType name="AsociacionMoniker">
    <xsd:annotation>
      <xsd:documentation>Moniker for Asociacion instance.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="core:ModelElementMoniker">
        <xsd:attribute name="Id" type="xsd:string" >
          <xsd:annotation>
            <xsd:documentation>Attribute to store the moniker string.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- ClaseHasAtributo -->
  <xsd:element name="claseHasAtributo" type="ClaseHasAtributo" substitutionGroup="core:modelElement" />
  <xsd:complexType name="ClaseHasAtributo">
    <xsd:complexContent>
      <xsd:extension base="core:ModelElement">
        <xsd:sequence minOccurs="0" maxOccurs="1">
          <!-- Target end Atributo -->
          <xsd:element ref="atributo" minOccurs="1" maxOccurs="1">
            <xsd:annotation>
              <xsd:documentation>[Target role-player]</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
        <!-- Id -->
        <xsd:attribute name="Id" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Instance Guid of this element, needed because SerializeId is set to true.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- ClaseHasAtributo Moniker -->
  <xsd:element name="claseHasAtributoMoniker" type="ClaseHasAtributoMoniker" substitutionGroup="core:modelElementMoniker" />
  <xsd:complexType name="ClaseHasAtributoMoniker">
    <xsd:annotation>
      <xsd:documentation>Moniker for ClaseHasAtributo instance.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="core:ModelElementMoniker">
        <xsd:attribute name="Id" type="xsd:string" >
          <xsd:annotation>
            <xsd:documentation>Attribute to store the moniker string.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- ClaseHasMetodo -->
  <xsd:element name="claseHasMetodo" type="ClaseHasMetodo" substitutionGroup="core:modelElement" />
  <xsd:complexType name="ClaseHasMetodo">
    <xsd:complexContent>
      <xsd:extension base="core:ModelElement">
        <xsd:sequence minOccurs="0" maxOccurs="1">
          <!-- Target end Metodo -->
          <xsd:element ref="metodo" minOccurs="1" maxOccurs="1">
            <xsd:annotation>
              <xsd:documentation>[Target role-player]</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
        <!-- Id -->
        <xsd:attribute name="Id" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Instance Guid of this element, needed because SerializeId is set to true.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- ClaseHasMetodo Moniker -->
  <xsd:element name="claseHasMetodoMoniker" type="ClaseHasMetodoMoniker" substitutionGroup="core:modelElementMoniker" />
  <xsd:complexType name="ClaseHasMetodoMoniker">
    <xsd:annotation>
      <xsd:documentation>Moniker for ClaseHasMetodo instance.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="core:ModelElementMoniker">
        <xsd:attribute name="Id" type="xsd:string" >
          <xsd:annotation>
            <xsd:documentation>Attribute to store the moniker string.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- Herencia -->
  <xsd:element name="herencia" type="Herencia" substitutionGroup="core:modelElement" />
  <xsd:complexType name="Herencia">
    <xsd:complexContent>
      <xsd:extension base="core:ModelElement">
        <xsd:sequence minOccurs="0" maxOccurs="1">
          <!-- Target end Clase -->
          <xsd:element ref="claseMoniker" minOccurs="1" maxOccurs="1">
            <xsd:annotation>
              <xsd:documentation>[Target role-player]</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
        <!-- Id -->
        <xsd:attribute name="Id" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Instance Guid of this element, needed because SerializeId is set to true.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <!-- Property: TotalParcial -->
        <xsd:attribute name="totalParcial" type="Totalidad" />
        <!-- Property: DisjuntaSolapada -->
        <xsd:attribute name="disjuntaSolapada" type="Solapacion" />
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- Herencia Moniker -->
  <xsd:element name="herenciaMoniker" type="HerenciaMoniker" substitutionGroup="core:modelElementMoniker" />
  <xsd:complexType name="HerenciaMoniker">
    <xsd:annotation>
      <xsd:documentation>Moniker for Herencia instance.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="core:ModelElementMoniker">
        <xsd:attribute name="Id" type="xsd:string" >
          <xsd:annotation>
            <xsd:documentation>Attribute to store the moniker string.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- ClaseAbstractaTieneMétodoAbstracto -->
  <xsd:element name="claseAbstractaTieneMétodoAbstracto" type="ClaseAbstractaTieneMétodoAbstracto" substitutionGroup="core:modelElement" />
  <xsd:complexType name="ClaseAbstractaTieneMétodoAbstracto">
    <xsd:complexContent>
      <xsd:extension base="core:ModelElement">
        <xsd:sequence minOccurs="0" maxOccurs="1">
          <!-- Target end MétodoAbstracto -->
          <xsd:element ref="métodoAbstractoMoniker" minOccurs="1" maxOccurs="1">
            <xsd:annotation>
              <xsd:documentation>[Target role-player]</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
        <!-- Id -->
        <xsd:attribute name="Id" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Instance Guid of this element, needed because SerializeId is set to true.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- ClaseAbstractaTieneMétodoAbstracto Moniker -->
  <xsd:element name="claseAbstractaTieneMétodoAbstractoMoniker" type="ClaseAbstractaTieneMétodoAbstractoMoniker" substitutionGroup="core:modelElementMoniker" />
  <xsd:complexType name="ClaseAbstractaTieneMétodoAbstractoMoniker">
    <xsd:annotation>
      <xsd:documentation>Moniker for ClaseAbstractaTieneMétodoAbstracto instance.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="core:ModelElementMoniker">
        <xsd:attribute name="Id" type="xsd:string" >
          <xsd:annotation>
            <xsd:documentation>Attribute to store the moniker string.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- Enum Cardinalidad -->
  <xsd:simpleType name="Cardinalidad">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="Uno">
        <xsd:annotation>
          <xsd:documentation>El nombre del literal no puede ser 1</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="N"/>
      <xsd:enumeration value="Cero"/>
    </xsd:restriction>
  </xsd:simpleType>
  
  <!-- Enum TipoParametro -->
  <xsd:simpleType name="TipoParametro">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="Entrada"/>
      <xsd:enumeration value="Salida"/>
      <xsd:enumeration value="EntradaSalida"/>
    </xsd:restriction>
  </xsd:simpleType>
  
  <!-- Enum TipoLetra -->
  <xsd:simpleType name="TipoLetra">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="ComicSansMS"/>
      <xsd:enumeration value="Papyrus"/>
      <xsd:enumeration value="Wingdings"/>
      <xsd:enumeration value="Arial"/>
      <xsd:enumeration value="Calibri"/>
    </xsd:restriction>
  </xsd:simpleType>
  
  <!-- Enum Cardinalidad1 -->
  <xsd:simpleType name="Cardinalidad1">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="Uno">
        <xsd:annotation>
          <xsd:documentation>El nombre del literal no puede ser 1</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="N"/>
      <xsd:enumeration value="Cero"/>
    </xsd:restriction>
  </xsd:simpleType>
  
  <!-- Enum Totalidad -->
  <xsd:simpleType name="Totalidad">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="Total"/>
      <xsd:enumeration value="Parcial"/>
    </xsd:restriction>
  </xsd:simpleType>
  
  <!-- Enum Solapacion -->
  <xsd:simpleType name="Solapacion">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="Disjunta"/>
      <xsd:enumeration value="Solapada"/>
    </xsd:restriction>
  </xsd:simpleType>
  
  <!-- Enum TipoAgregación -->
  <xsd:simpleType name="TipoAgregación">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="Inclusiva"/>
      <xsd:enumeration value="Referencial"/>
    </xsd:restriction>
  </xsd:simpleType>
  
  <!-- Enum TipoLetra1 -->
  <xsd:simpleType name="TipoLetra1">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="ComicSansMS"/>
      <xsd:enumeration value="Papyrus"/>
      <xsd:enumeration value="Wingdings"/>
      <xsd:enumeration value="Arial"/>
      <xsd:enumeration value="Calibri"/>
    </xsd:restriction>
  </xsd:simpleType>
  
  <!-- Enum FormatoBoolean -->
  <xsd:simpleType name="FormatoBoolean">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="Checkbox"/>
      <xsd:enumeration value="RadioButton"/>
    </xsd:restriction>
  </xsd:simpleType>
  
  <!-- Enum Alineacion -->
  <xsd:simpleType name="Alineacion">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="left"/>
      <xsd:enumeration value="center"/>
      <xsd:enumeration value="right"/>
      <xsd:enumeration value="justify"/>
    </xsd:restriction>
  </xsd:simpleType>
  
</xsd:schema>

